@import url('reset.css');
@import url('font.css');

body{
    overflow-x: hidden;
    width: 1920px;
    margin: 0 auto;
    background-color: #5F1B1B;
}
#section_1{
    padding: 187px 102px 0 151px;
}
#alien_interface_1{
    height: 2449px;
    width: 1666px;
    background-image: url('../assets/alien_bg_1.png')
}
h1 {
    font-size: 96px;
    color: #DBE2C3;
    position: absolute;
    top: 290px;
    left: 631px;
}
a{
    font-size: 45px;
    text-decoration: none;
    color: #DBE2C3;
}
.small_link{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 8px;
    margin: 10px 0 10px 30px;
}
.navigation{
    position: absolute;
    left: 192px;
    top: 604px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.website_about_the_font{
    position: absolute;
    left: 192px;
    top: 308px;
}
.goth-title{
    position: absolute;
    left: 465px;
    top: 1923px;
    display: flex;
    gap: 50px;
    font-size: 280px;
    font-weight: bold;
    color: #961414;
    
}
.rectangle {
    position:absolute;
    left: 257px;
    top: 1660px;
    width: 326px;
    height: 67px;
    background: 
     linear-gradient(to right,  #90BBC9, transparent 5%),
     linear-gradient(to bottom, #90BBC9, transparent 20%),
     linear-gradient(to left, #1C2C31, transparent 5%),
     #557681;
     border: 3px solid white;
}
.box{
    position:absolute;
    left: 750px;
    top: 660px;
    width: 851px;
    height: 741px;
    background: linear-gradient(to bottom, #90BBC9 0%, #557681 5%);
    border: 3px solid white;
}
.box_1{
    position:absolute;
    left: 775px;
    top: 690px;
    width: 800px;
    height: 53px;
    background-color:#000000 
}

.box_2{
    position:absolute;
    left: 775px;
    top: 765px;
    width: 800px;
    height: 624px;
     background: linear-gradient(to bottom, #90BBC9 0%, #557681 5%);
    border: 3px solid rgb(0, 0, 0);
    padding: 20px;

    color: #000000;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    padding: 20px 30px;
    margin: 0;
}
.blocks-container{
  position: absolute; 
  left: 1390px;
  top: 695px;
  display: flex;
  gap: 12px;
}
.block{
    width: 47px;
    height: 44px;
    background: linear-gradient(to bottom, #90BBC9 0%, #557681 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}
.block:last-child{
    color: #961414;
    font-size: 30px;
}
#section_3{
    position: relative;
    padding: 3888px 176px 0 258px;
}
#alien_interface_2{
    height: 1421px;
    width: 1486px;
    background-image: url('../assets/alien_bg_2.png');
} 

.blocks-container_2{
  position: absolute; 
  left: 1500px;
  top: 4002px;
  display: flex;
  gap: 12px;
}
.block{
    width: 47px;
    height: 44px;
    background: linear-gradient(to bottom, #90BBC9 0%, #557681 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 60px;
    font-weight: bold;
}
.block:last-child{
    color: #961414;
    font-size: 30px;
}
.box_3{
    position:absolute;
    left: 306px;
    top: 4130px;
    width: 1338px;
    height: 781px;
    background: linear-gradient(to bottom, #666666 0%, #000000 5%);
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
   
}
.numbers-container {
    position: absolute;
    display: flex;
    gap: 18px;
    left: 48px;
    top: 60px;
}
.jumping-number{
    display: inline-block;
    font-size: 300px;
     color: #961414;
    transition: transform 0.3s ease; 
}
.jumping-number:hover{
    transform: translateY(-35px);
}
.numbers-container_2{
    position: absolute;
    display: flex;
    gap: 18px;
    left: 600px;
    top: 400px;
}

.jumping-number_2{
    display: inline-block;
    font-size: 180px;
    color:#DBE2C3;
    transition: transform 0.3s ease; 
}
.jumping-number_2:hover{
    transform: translateY(-35px);
}

#section_4{
    position: relative;
    padding: 0 228px 0 174px;
    margin-top: -5%;
}
#alien_interface_3{
    height: 1421px;
    width: 1518px;
    background-image: url('../assets/alien_bg_3.png');
    background-repeat: no-repeat;
}
#section_5{
     padding: 0px 70px 0 320px;
}
#alien_interface_5{
    height: 1232px;
    width: 1530px;
    background-image: url('../assets/alien_bg_5.png');
}